/* Version .01 */

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    background-image: url("../images/Meteor.svg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
}

header {
    background-image: url("../images/Meteor.svg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    color: white;
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}

header a {
    text-decoration: none;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

header nav ul li a {
    padding: 10px 25px;
    font-size: 1.55vw;
    color: white;
    font-weight: bold;
}

header nav ul li a:hover {
    border-radius: 15px;
    text-shadow: none;
}

.hero {
    background-image: url("../images/Meteor.svg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.hero-caption {
    margin: 3.5%;
    color: white;
    font-size: 68px;
    font-weight: bold;
    line-height: 1.;
    background-color: #0E2A47;
    padding: 20px;
    width: 30%;
    border-style: solid;
    border-width: 3px;
    border-color: #1C538E;
    display: flex;
    justify-content: right;
}

.primary-section {
    background-image: url("../images/Meteor.svg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.heading {
    /* margin: 3.5%; */
    margin: 2.5% 0% 0% 0%;
    color: white;
    font-size: 1.55vw;
    line-height: 1.;
    background-image: url("../images/Meteor.svg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    padding: 20px;
    width: 20%;
    border-style: none solid none none;
    border-width: 3px;
    border-color: #1C538E;
    display: flex;
    justify-content: right;
    
}

.heading h2 {
    font-size: 79px;
}

.text {
    margin: 2.5% 0% 0% 2%;
    color: white;
    font-size: 18px;
    line-height: 1.;
    background-color: #0E2A47;
    padding: 20px;
    width: 74.5%;
    border-style: solid;
    border-width: 3px;
    border-color: #1C538E;
    
}

.text p {
    width: 100;
    font-size: 30px;
}

.projects {
    margin: 2.5% 0% 0% 2%;
    color: white;
    font-size: 18px;
    line-height: 1.;
    background-color: #0E2A47;
    /* padding: 20px; */
    width: 74.5%;
    /* border-style: solid;
    border-width: 3px;
    border-color: #1C538E; */
    display: flex;
    flex-wrap: wrap; 
}

.large-project {
    margin: 0px 0px 40px 0px;
    color: white;
    font-size: 38px;
    line-height: 1.;
    /* background-color: #0E2A47; */
    padding: 500px 20px 0px 0px;
    width: 100%;
    border-style: solid;
    border-width: 3px;
    border-color: #1C538E;
    display: flex;
    background-image: url("../images/Circuit.svg");
    background-size: cover;
    /* background-attachment: fixed; */
    background-position: 80%;
}

.large-project h3 {
    margin: 0px 5px 20px 0px;
    color: white;
    font-size: 38px;
    line-height: 1.;
    background-color: #0E2A47;
    padding: 20px;
    width: 40%;
    border-style: solid solid solid none;
    border-width: 3px;
    border-color: #1C538E;
    display: flex;
}

.small-project {
    /* margin: 3.5%; */
    line-height: 1.;
    /* background-color: #0E2A47; */
    /* padding: 20px; */
    display: flex;
    flex-wrap: wrap;
    width: 100%;  
    column-gap: 2%;
    row-gap: 30px;
}

.project {
    /* margin: 5px 5px 5px 5px; */
    color: white;
    font-size: 38px;
    line-height: 1.;
    background-color: #0E2A47;
    padding: 300px 10px 0px 0px;
    border-style: solid;
    border-width: 3px;
    border-color: #1C538E;
    display: flex;
    width: 49%;
}

#accessibility {
    background-image: url("../images/Wave.svg");
}

#bash {
    background-image: url("../images/Circuit-2.svg");
}

#html {
    background-image: url("../images/Patterns.svg");
}

#java {
    background-image: url("../images/Curve.svg");
}

.project h3 {
    margin: 0px 5px 20px 0px;
    color: white;
    font-size: 38px;
    line-height: 1.;
    background-color: #0E2A47;
    padding: 20px;
    width: 40%;
    border-style: solid solid solid none;
    border-width: 3px;
    border-color: #1C538E;
    display: flex;
}

footer {
    background-image: url("../images/Meteor.svg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    color: white;
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}

footer .text {
    background-image: url("../images/Meteor.svg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    border-style: none;
}

footer a {
    text-decoration: none;
    border-bottom: 1px solid white;
}

/* footer nav {
    margin: 7px 0;
} */

footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

footer ul li a {
    padding: 10px 25px;
    font-size: 1.55vw;
    color: white;
    font-weight: bold;
}

/* footer ul li a:hover {
    border-radius: 15px;
    text-shadow: none;
} */



/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media screen and (max-width: 980px) {
    header {
      /* this will be applied on any screen smaller than 980px */
        padding-bottom: 0px;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    .hero-caption {
        margin: 3.5%;
        color: white;
        font-size: 38px;
        line-height: 1.;
        background-color: #0E2A47;
        padding: 20px;
        width: 100%;
        border-style: solid;
        border-width: 3px;
        border-color: #1C538E;
        display: flex;
    }

    .hero-caption p {
        text-align: center;
    }

    footer {
        /* this will be applied on any screen smaller than 980px */
          padding-bottom: 0px;
          justify-content: center;
          position: relative;
      }
  
      footer h2 {
          width: 100%;
          text-align: center;
      }
  
      footer ul {
          margin-top: 20px;
          width: 100%;
          justify-content: center;
      }
  
      footer ul li a {
          font-size: 20px;
      }
} 
