/* Version .01 */

:root {
    --primary-color: #0E2A47;
    --secondary-color: #fff;
    --tertiary-color: #1C538E;
    --background-image: url("../images/Meteor.svg");
}

/*var(--background-image) */

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    background-image: var(--background-image);
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
}

header {
    background-image: var(--background-image);
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 70px;
    margin: 0;
}

header a {
    text-decoration: none;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

header nav ul li a {
    padding: 10px 25px;
    font-size: 50px;
    color: var(--secondary-color);
    font-weight: bold;
    text-align: center;
}

header nav ul li a:hover {
    border-radius: 15px;
    text-shadow: none;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
}

header nav ul li a:focus     {
    border-radius: 15px;
    text-shadow: none;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    outline: 0;
    border: none;
}

.hero {
    background-image: var(--background-image);
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.headshot {
    padding: 50px 20px 10px 200px;
}

.hero-caption {
    margin: 3.5%;
    color: var(--secondary-color);
    font-size: 68px;
    font-weight: bold;
    line-height: 1.;
    background-color: var(--primary-color);
    padding: 20px;  
    border-style: solid;
    border-width: 3px;
    border-color: var(--tertiary-color);
    display: flex;
    column-gap: 55%;
    justify-content: right;
}

.primary-section {
    background-image: var(--background-image);
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.heading {
    margin: 2.5% 0% 0% 0%;
    color: var(--secondary-color);
    font-size: 1.55vw;
    line-height: 1.;
    background-image: var(--background-image);
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    padding: 20px;
    width: 400px;
    border-style: none solid none none;
    border-width: 3px;
    border-color: var(--tertiary-color);
    display: flex;
    justify-content: right;
    
}

.heading h2 {
    font-size: 80px;
    text-align: right;
}

.text {
    margin: 2.5% 0% 0% 2%;
    color: var(--secondary-color);
    font-size: 18px;
    line-height: 1.;
    background-color: var(--primary-color);
    padding: 20px;
    width: 1420px;
    border-style: solid;
    border-width: 3px;
    border-color: var(--tertiary-color);
    
}

.text p {
    width: 100%;
    font-size: 30px;
}

.projects {
    margin: 2.5% 0% 0% 2%;
    color: var(--secondary-color);
    font-size: 18px;
    line-height: 1.;
    background-color: var(--primary-color);
    width: 1420px;
    display: flex;
    flex-wrap: wrap; 
}

.large-project {
    margin: 0px 0px 40px 0px;
    color: var(--secondary-color);
    font-size: 38px;
    line-height: 1.;
    padding: 500px 20px 0px 0px;
    width: 100%;
    border-style: solid;
    border-width: 3px;
    border-color: var(--tertiary-color);
    display: flex;
    background-image: url("../images/Circuit.svg");
    background-size: cover;
    background-position: 80%;
}

.large-project a h3 {
    margin: 0px 5px 20px 0px;
    color: var(--secondary-color);
    font-size: 38px;
    line-height: 1.;
    background-color: var(--primary-color);
    padding: 20px;
    width: 100%;
    border-style: solid solid solid none;
    border-width: 3px;
    border-color: var(--tertiary-color);
    display: flex;
}

.large-project a {
    text-decoration: none;
}

.large-project a:visited {
    text-decoration: none;
}

.large-project a:focus {
    outline: 0;
    border: none;
}


.large-project a:focus > h3 {
    border-radius: 15px;
    text-shadow: none;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
}

.large-project a:hover > h3 {
    border-radius: 15px;
    text-shadow: none;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
}

#aim:hover {
    filter: brightness(150%);
}

.small-project {
    line-height: 1.;
    display: flex;
    flex-wrap: wrap;
    width: 100%;  
    column-gap: 2%;
    row-gap: 30px;
}

.small-project a {
    text-decoration: none;
}

.small-project a:visited {
    text-decoration: none;
}

.project {
    
    color: var(--secondary-color);
    font-size: 38px;
    line-height: 1.;
    background-color: var(--primary-color);
    padding: 300px 10px 0px 0px;
    border-style: solid;
    border-width: 3px;
    border-color: var(--tertiary-color);
    display: flex;
    flex-wrap: wrap;
    width: 49%;
}

#accessibility {
    background-image: url("../images/Wave.svg");
}

#accessibility:hover {
    filter: brightness(150%);
}

#bash {
    background-image: url("../images/Circuit-2.svg");
}

#bash:hover {
    filter: brightness(150%);
}

#html {
    background-image: url("../images/Patterns.svg");
}

#html:hover {
    filter: brightness(150%);
}

#java {
    background-image: url("../images/Curve.svg");
}

#java:hover {
    filter: brightness(150%);
}

.project a h3 {
    margin: 0px 5px 20px 0px;
    color: var(--secondary-color);
    font-size: 38px;
    line-height: 1.;
    background-color: var(--primary-color);
    padding: 20px;
    width: 100%;
    border-style: solid solid solid none;
    border-width: 3px;
    border-color: var(--tertiary-color);
    display: flex;
}

.project a:focus {
    outline: 0;
    border: none;
}


.project a:focus > h3 {
    border-radius: 15px;
    text-shadow: none;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
}

.project a:hover > h3 {
    border-radius: 15px;
    text-shadow: none;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
}

footer {
    background-image: var(--background-image);
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    margin: 0px 0px 30px 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 36px;
    
}

footer .text {
    background-image: var(--background-image);
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    border-style: none;
}

footer a {
    text-decoration: none;
    border-bottom: 1px solid var(--secondary-color);
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

footer ul li a {
    padding: 10px 25px;
    font-size: 50px;
    color: var(--secondary-color);
    font-weight: bold;
}

footer ul li a:focus     {
    border-radius: 15px;
    text-shadow: none;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    outline: 0;
    border: none;
}

footer ul li a:hover     {
    border-radius: 15px;
    text-shadow: none;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
}

@media screen and (max-width: 1850px) {
    header {
          padding-bottom: 0px;
          justify-content: center;
          position: relative;
      }

      header h1 {
        font-size: 100px;
        margin: 2.5% 0% 0% 0%;
        line-height: 1.;
        background-color: var(--primary-color);
        padding: 20px;
        border-style: solid;
        border-width: 3px;
        border-color: var(--tertiary-color);
        text-align: center;
    }

    header nav {
        margin: 3.5%;
    }

    header nav ul {
        margin-top: 3.5%;
        width: 100%;
        justify-content: center;
    }
    
    header nav ul li a {
        font-size: 60px;
        text-decoration: underline;
    }

    .headshot {
        text-align: center;
        width: 100%;
        padding: 20px;
        
    }

    .hero-caption {
        font-size: 45px;
        width: 100%;
        justify-content: center;
    }

    .hero-caption p {
        text-align: center;
        font-size: 80px;
    }

    .heading {
        margin: 3.5%;
        background-image: none;
        background-color: var(--primary-color);
        width: 100%;
        border-style: solid;
        justify-content: center;
        
    }

    .text {
        margin: 3.5%;
        width: 100%;
        font-size: 30px;
    }

    .projects {
        margin: 3.5%;
        width: 100%;
    }

    .large-project h3 {
        width: 90%;
    }

    .project h3 {
        width: 90%;
    }

    footer {
          padding-bottom: 0px;
          justify-content: center;
          position: relative;
      }
  
      .heading h2 {
          width: 50%;
          text-align: center;
      }

      footer .text {
          margin: 0% 3.5% 3.5% 3.5%;
          padding: 0px 20px;
      }
  
      footer ul {
          margin-top: 20px;
          width: 100%;
          justify-content: center;
      }
  
      footer ul li {
        justify-content: space-between;
    }

      footer ul li a {
          font-size: 60px;
          border-bottom: none;
          text-decoration: underline;
          justify-content: space-between;
      }

}

@media screen and (max-width: 1024px) {
  
      header h1 {
        font-size: 70px;
    }
  
      header nav ul li a {
          font-size: 50px;
      }
  
      .hero-caption p {
          text-align: center;
      }
  
      .heading h2 {
          font-size: 55px;
      }
  
      .large-project h3 {
          width: 90%;
      }

      .project h3 {
          width: 90%;
      }
    
        footer h2 {
            width: 100%;
            text-align: center;
        }
  
        footer ul li a {
            font-size: 55px;
        }
    }

@media screen and (max-width: 980px) {

    header nav ul li a {
        font-size: 40px;
    }

    .hero-caption p {
        text-align: center;
    }

    .text p {
        margin: 3.5%;
        width: 95%;
    }

    .large-project h3 {
        width: 80%;
    }
} 

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {

    header nav ul li {
        width: 100%;
    }

    header nav ul li a {
        margin: 40px 10px 40px 10px;
        text-align: center;
        display: block;
        flex: none;
        width: 100%;
        border-bottom: none;
    }

    .hero-caption {
        text-align: center;
    }

    .large-project a h3 {
        font-size: 38px;
        width: 90%;
    }
        
    .project {
        width: 100%;
    }

        .project a h3 {
        width: 95%;
    }
    
    footer ul li {
        display: block;
        flex: none;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    footer ul li a {
        margin: 40px 10px 40px 10px;
        text-align: center;
        display: block;
        flex: none;
        width: 100%;
  }

  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
    
    header h1 {
        font-size: 50px;
        margin: 1.5%;
    }

    .hero-caption p {
        font-size: 38px;
        text-align: center;
    }

      .heading {
          font-size: 38px;     
      }

      .heading h2 {
        font-size: 35px;
    }
  
      .text p {
          width: 100%;
          font-size: 25px;
      }
  
      .projects {
          font-size: 38px;
          background-image: none;
          padding: 20px;
          width: 93%;
          border-style: solid;
          border-width: 3px;
          border-color: var(--tertiary-color);
          justify-content: center;
      }
      
      .large-project {
          width: 97%;
      }

    footer ul li a {
        font-size: 40px;
    }

  }
}